/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <125>;
    quick-tap-ms = <175>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Return {
            bindings = <&kp RETURN>;
            key-positions = <22 21 20>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <22 21 20 19>;
        };

        del_word {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <37 40>;
        };

        backpage {
            bindings = <&kp LC(LEFT_BRACKET)>;
            key-positions = <15 16 14>;
        };

        forwardPage {
            bindings = <&kp LC(RIGHT_BRACKET)>;
            key-positions = <17 15 16>;
        };

        capsLock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <33 32 27 26>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <19 20 21>;
        };

        backTab {
            bindings = <&kp LS(TAB)>;
            key-positions = <18 19 20>;
        };

        HomeRowApp {
            bindings = <&kp LC(LA(LS(LG(F))))>;
            key-positions = <38 28>;
        };

        Dictation_bound_to_hyper_b {
            bindings = <&kp LS(LG(LC(LA(B))))>;
            key-positions = <13 14 15>;
        };

        LeaderKey {
            bindings = <&kp LS(LA(LG(RIGHT)))>;
            key-positions = <38 39>;
        };

        mousless {
            bindings = <&kp LA(LC(LS(LG(RIGHT))))>;
            key-positions = <39 31>;
        };

        W_forwardPage {
            bindings = <&kp LA(RIGHT_ARROW)>;
            key-positions = <4 3 5>;
        };

        W_backPage {
            bindings = <&kp LA(LEFT_ARROW)>;
            key-positions = <4 3 2>;
        };

        delLine {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <36 41>;
        };

        win1 {
            bindings = <&kp LG(NUMBER_1)>;
            key-positions = <19 31>;
        };

        win2 {
            bindings = <&kp LG(NUMBER_2)>;
            key-positions = <20 32>;
        };

        win3 {
            bindings = <&kp LG(NUMBER_3)>;
            key-positions = <21 33>;
        };

        win4 {
            bindings = <&kp LG(NUMBER_4)>;
            key-positions = <22 34>;
        };

        win5 {
            bindings = <&kp LG(N5)>;
            key-positions = <23 35>;
        };

        l_shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <14 15>;
        };

        r_shift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <20 21>;
        };

        test {
            bindings = <&to 1>;
            key-positions = <3 0 5>;
        };

        test1 {
            bindings = <&to 1>;
            key-positions = <24 27 29>;
        };
    };

    macros {
        del_line: del_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp END &kp LS(HOME) &kp BACKSPACE>;

            label = "DEL_LINE";
        };

        mysterious: mysterious {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp P &kp R &kp I &kp N &kp T &kp SEMI &kp S &kp T &kp A &kp R &kp R &kp Y &kp N0 &kp SEMI &kp C &kp H &kp E &kp E &kp R &kp RETURN>;

            label = "MYSTERIOUS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAC_BASE {
            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y      &kp U     &kp I      &kp O    &kp P     &kp MINUS
&none  &kp A  &kp S  &kp D  &kp F  &kp G    &kp H      &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&none  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH  &none
                     &none  &none  &kp R    &kp SPACE  &kp BSPC  &none
            >;
        };

        WINDOWS_BASE {
            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R    &kp T    &kp Y  &kp U  &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D  &kp F    &kp G    &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&none  &kp Z  &kp X  &kp C  &kp V    &kp B    &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &none
                     &none  &lt 1 A  &none    &none  &none  &none
            >;
        };

        mNav {
            bindings = <
&kp LS(LG(LC(LA(B))))         &kp LG(LC(LA(LS(GRAVE))))     &kp LG(LBKT)   &kp LG(RBKT)  &kp LG(R)  &kp LG(X)                           &kp LS(TAB)   &kp PG_DN  &kp PG_UP  &kp TAB        &kp ESC  &none
&kp LS(LA(LC(LG(NUMBER_4))))  &kp LG(LC(LA(LS(NUMBER_2))))  &kp LS(LG(Z))  &kp LG(Z)     &kp LG(C)  &kp LG(V)                           &kp LEFT      &kp DOWN   &kp UP     &kp RIGHT      &kp RET  &none
&kp LA(LS(LEFT_COMMAND))      &kp RSHFT                     &kp LCTRL      &kp LALT      &kp LGUI   &kp LS(LA(LC(LG(LEFT_COMMAND))))    &kp LG(LEFT)  &none      &none      &kp LG(RIGHT)  &none    &none
                                                                           &none         &none      &none                               &kp SPACE     &kp BSPC   &kp DEL
            >;
        };

        wNav {
            bindings = <
&kp LS(LG(LC(LA(B))))         &kp LG(LC(LA(LS(GRAVE))))     &kp LA(LBKT)   &kp LA(RBKT)  &kp LC(R)  &kp LC(X)                           &kp LS(TAB)   &kp PG_DN  &kp PG_UP  &kp TAB      &kp ESC  &none
&kp LS(LA(LC(LG(NUMBER_4))))  &kp LG(LC(LA(LS(NUMBER_2))))  &kp LS(LG(Z))  &kp LG(Z)     &kp LG(C)  &kp LC(V)                           &kp LEFT      &kp DOWN   &kp UP     &kp RIGHT    &kp RET  &none
&kp LA(LS(LEFT_COMMAND))      &kp RSHFT                     &kp LCTRL      &kp LALT      &kp LGUI   &kp LS(LA(LC(LG(LEFT_COMMAND))))    &kp LG(HOME)  &del_line  &none      &kp LG(END)  &none    &none
                                                                           &none         &none      &none                               &kp SPACE     &kp BSPC   &kp DEL
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
